header{
  padding: 5px;
  font-size: 19px;
  color: rgb(43, 107, 107);
  text-align: center;
  background-color: rgba(154, 191, 223, 0.137);
  height: 210px;
}


nav{
  font-weight: 700;
  font-family: sans-serif, Arial;
  font-size: 16px;
  text-align: right;
}

a:link {color: darkblue;}
a:visited {color: darkcyan;}
a:hover {color: crimson;}
a:active{color: green;}

main{
  font-family: Arial, sans-serif;
  padding: 50px;
}

img{
  width: 100%;
  height: 300px;
}

.city-images{
  width: 45%;
 height: 30%;
 display: flex;
 padding: 70px;
}

footer{
  color: rgb(43, 107, 107);
  text-align: center;
  background-color: rgba(154, 191, 223, 0.137);
}

.wrapper{
  font-weight: 800;
  width: 100%;
  height: 130px;
  padding: 5px;
}
